.container{
  border: 5px solid black;
  width: 600px;
  height: 700px;
  margin: 50px auto;
}

div{
  border: 3px solid black;
}

.first{
  border-color:aqua;
  height: 10%;
  display: flex;
}

.second{
  border-color: orange;
  height: 80%;
  display: flex;
}

.first > div:first-child{
  border-color: orange;
  width: 60%;
}

.first > div:last-child{
  border-color: green;
  width: 40%;
}

.second > div:first-child{
  width: 20%;
  border-color: blue;
}

.second > div:last-child{
  width: 80%;
  border-color: plum;
}