body{
  background-color: #d9fdff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: white;
  width: 500px;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 1px #666666;
  padding: 40px 40px 8px 40px;
}

.title{
  margin-bottom: 30px;
}
.title > h3{
  margin-bottom: 5px;
}

.form span{
  color: red;
}

.form > div{
  margin-bottom: 10px;
}

.input{
  width: 100%;
  padding: 12px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input2{
  height: 40px;
  width: 100%;
}

.input2 > input{
  width: 63%;
  height: 100%;
  padding: 12px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.input2 > button{
  width: 35%;
  height: 100%;
  padding: 8px 4px;
  border: none;
  background-color: #00b6ef;
  border-radius: 4px;
  color: white;
}

.form > div > div:first-child{
  margin-bottom: 4px;
}

.address-input > input{
  margin-bottom: 5px;
}

.email-form > div:last-child{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-form > div:last-child input{
  width: 30%;
  height: 100%;
  padding: 12px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.email-form > div:last-child select{
  width: 30%;
  height: 100%;
  padding: 12px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.date-form div:last-child{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-form div:last-child select{
  width: 30%;
  height: 100%;
  padding: 12px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.btn-form{
  margin-top: 40px;
  margin-bottom: 50px;
}

.btn-form{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.btn-form div{
  /* border: 1px solid black; */
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-form div button{
  height: 40px;
  width: 100px;
  border : none;
  background-color: #00b6ef;
  border-radius: 5px;
  color: white;
   box-shadow: 3px 4px 10px 1px #666666;
}

.btn-form div button:last-child{
  background-color: #efc900;

}
