@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 360px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}

.img-div > img{
  width: 100%;
  height: 200px;
  transition: all 0.5s;
}

.img-div > img:hover{
  scale: 1.2;
}

.img-div{
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.img-div > span{
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
}

.detail-div{
  padding: 12px;
}

.detail1 > p:nth-child(1){
  font-weight: bold;
}

.detail1 > p:nth-child(2){
  font-size: 2rem;
  color: orange;
  font-weight: 600;
  margin: 5px 0px;
}

.detail1 > p:nth-child(3){
  color: lightgray;
}

.detail2{
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px 0px;
  margin: 12px 0px;
}

.detail3 img{
  width: 44px;
  border-radius: 50%;
  border: 1px solid lightgray;
}

.detail3 > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail3 > div > div{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
}

button{
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
}

