<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/show" method="post">
    <h2>배달정보</h2>
    <input type="hidden" name="type" th:value="${order.type}">
    <input type="hidden" name="count" th:value="${order.count}">
    <!-- <th:block th:each="option : ${order.option}">
      <input type="hidden" name="option" th:value="${option}">
    </th:block> -->
    <input th:each="option : ${order.option}" type="hidden" name="option" th:value="${option}">    
    <input type="hidden" name="request" th:value="${order.request}">
    주문자<input type="text" name="buyer">
    연락처<input type="text" name="tel">
    배달주소<input type="text" name="address">
    <button type="submit">주문</button>
  </form>
</body>
</html>