.container{
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px;
}

.menu{
 display: flex;
 gap: 12px;
 color: white;
}


