.container{
  width: 90%;
  margin: 20px auto;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgray;
  margin-bottom: 30px;
  padding: 2px 6px;
}

h1{
  margin-bottom: 20px;
}

th, td{
  border: 1px solid lightgray;
  padding: 6px 8px;
  vertical-align: middle;
}

th{
  width: 20%;
  text-align: left;
  background-color: rgb(236, 236, 236);
  font-weight: normal;
}

th .required{
  color: red;
  margin-left: 3px;
}

input[type = "text"], input[type = "password"], input[type = "email"]{
  width: 200px;
  height: 30px;
  border: 1px solid lightgray;
  padding: 0px 6px;
  font-size: 20px;
  margin-right: 3px;
}

input[type = "radio"], input[type = "checkbox"]{
  margin-right: 3px;
}

.address > div{
  margin: 6px;
}

button{
  width: 100px;
  height: 30px;
  border: 1px solid lightgray;
  background-color: white;
}

select{
  width: 55px;
  height: 30px;
  border: 1px solid lightgray;

}

input[type = "tel"]{
  width: 100px;
  height: 30px;
    border: 1px solid lightgray;

}

.bottom input[type = "text"]{
  width: 80px;
}