.container{
  width: 90%;
  border: 1px solid black;
  margin: auto;
}

.header{
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header > div:first-child{
  width: 50%;
}

.header > div:first-child > ul{
  display: flex;
  justify-content: right;
}


.header > div:last-child{
  width: 50%;
}