.container{
  width: 500px;
  margin: auto;
}

.container h2{
  text-align: center;
}

.text{
  text-align: right;
  margin: 0px;
}

.red-text{
  color: red;
  margin: 0px;
  font-size: 0.8rem; /*1rem = 16px*/
}

/* 버튼 스타일 */
.container div:last-child{
  text-align: right;
  margin-top: 10px;
}

/* 테이블 스타일 */
table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

tr, td{
  border: 1px solid black;
}