.container{
  width: 1200px;
  margin: 30px auto;
}

.top-menu{
  /* border: 1px solid black; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #0c51a6;
}

.top-menu > div:first-child{
  width: 30%;
}

.top-menu span{
  font-size: 2rem;
  color: white;
  padding: 0px 30px;
  font-weight: bold;
}

.top-menu > div:last-child{
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.top-menu > div:last-child button{
  border: none;
  background-color:#0a4288;
  color: white;
  width: 150px;
  padding: 15px 15px;
}

.slider{
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img{
  width: 100%;
  display: block;
}

.slider-text{
  position: absolute;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

.slider-text > p:last-child{
  margin-top: 10px;
}


.banner{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner > div:first-child{
  width: 400px;
  padding: 20px;
}

.first-banner > div{
  display: flex;
}

.first-banner > div:first-child{
  width: 80%;
}

.banner img{
  width: 400px;
  height: 100%;
}

.reserve-menu{
  position: relative;
}

.reserve-menu> div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.reserve-menu > div > button{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 20px;
}

.bottom-menu{
  height: 100px;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
}

.bottom-menu > div:first-child{
  width: 30%;
}

.bottom-menu > div:first-child > span{
  font-size: 2rem;
  color: white;
  padding: 0px 30px;
  font-weight: bold;
  color: #838085;
}

.bottom-menu > div:last-child{
  text-align: center;
  width: 70%;
}