.container{
  width: 1200px;
  margin: 0px auto;
}

.header{
  height: 100px;
  background-color: #0c51a6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.header > ul{
  display: flex;
  background-color: #0a4288;
  width: 600px;
  padding: 16px 0px;
  justify-content: space-around;
}

.banner{
  position: relative;
}

.banner-info{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content{
  display: flex;
}

.content div{
  border: 1px solid black;
  width: 100%;
}