.test6_container{
  width: 400px;
}

.cntDisplay{
  background-color: #f4f4f4;

  width: auto;
  height: 80px;
  padding: 10px 15px;
  
}

.cntDisplay > p{
  margin: 5px;
}

.cntDisplay > p:last-child{
  font-size: 1.3rem;
  font-weight: bold;
}

.btnDisplay{
  background-color: #f4f4f4;

  width: auto;
  height: 30px;
  padding: 10px 20px;
  
  margin-top: 5px;

}