.container{
  /* border: 1px solid red; */
  width: 80%;
  margin: 5px auto;
}

.btnDiv{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: 1px solid red; */
  padding: 5px;
  gap: 4px;
}

.selectStyle{
  width: 80px;
  height: 25px;
  border-radius: 5px;
  padding: 1px 3px;
}

.inputStyle{
  width: 150px;
  height: 25px;
  border-radius: 5px;
}
